body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}
header h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    background: linear-gradient(to right, #1db954, #1ed760);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.camera-box{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border: 3px solid #333;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 3;
    height: auto;
    background: black;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.result-box {
    margin-top: 20px;
    background: #282828;
    padding: 20px;
    border-radius: 10px;
}
#emotion {
    color: #1db954;
    font-weight: bold;
    text-transform: uppercase;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.02rem;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.1s;
}
button:hover {
    transform: scale(1.05);
    background-color: #1ed760;
}
.music-player {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0,5);
    background-color: black;
}
#song-title {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #b3b3b3;
    font-style: italic;
}